        <div class="row">
            <div class="column column-alt-blue">
                <div class="text-center column-alt-padding contact-me">
                    <div class="inner-column">
                        <h3>Contact Me</h3>
                        <p>If you would like a chat about how therapy can help you:</p>
                        <p>Call <strong><a href="tel:07592706433">07592706433</a></strong> or email <strong><a href="mailto:bluebelltherapy@gmail.com">bluebelltherapy@gmail.com</a></strong></p>
                    </div>
                </div>
            </div>
        </div>