 <header>
 {{>cookie}}
        <div class="dt">
            <ul class="list-clear">
                <li><a href="/counselling.html">Counselling</a></li>
                <li><a href="/hypnotherapy.html">Hypnotherapy</a></li>
                <li><a href="/supervision.html">Supervision</a></li>
                <li class="logo-container">
                    <a href="/"><img src="/img/logo.jpg" alt="logo" /></a>
                </li>
                <li><a href="/shop.html">Shop/Free Stuff</a></li>
                <li><a href="/prices.html">Contact/Prices</a></li>
                <li><a href="/blog.html">Blogs</a></li>
            </ul>
        </div>
        <div class="mobile-wrapper">
            <div class="tm">
                <ul class="list-clear">
                    <li class="logo-container">
                        <a href="http://www.bluebell-therapy.co.uk"><img src="/img/logo.jpg" alt="logo" /></a>
                    </li>
                    <li class="fr">
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
