        <div class="row">   
            <div class="column text-center">
                <div>
                    <h4>I am a member of:</h4>
                    <a href="https://ncps.com/counsellors/ncs13-00313" target='_blank' rel="noopener noreferrer"><img src="../img/ncps-logo.png" alt="national counselling and psychotherapy society" class="image-divide-right"></a>
                    <a href="https://www.nationalhypnotherapysociety.org/find-therapist/results/jm00p1681/" target='_blank' rel="noopener noreferrer"><img src="../img/nhs-logo.png" alt="national hypnotherapy society" class="image-divide-left"></a>
                </div>
            </div>
        </div>
