        <div class="row">   
            <div class="column text-center">
                <div class="">
                    <h4>I am a member of:</h4>
                    <a href="https://www.nationalcounsellingsociety.org/" target='_blank'><img src="../img/ncs-logo.svg" alt="national counselling society" class="image-divide-right"></a>
                    <a href="https://www.nationalhypnotherapysociety.org/" target='_blank'><img src="../img/nhs-logo.svg" alt="national hypnotherapy society" class="image-divide-left"></a>
                </div>
            </div>
        </div>