    <nav>
        <ul class="list-clear-mobile">
            <li class="">
			<a class="main-cta-btn" href="/counselling.html">Counselling</a></li>
            <div class="hidden-sub-mobile">
                <li><a href="/counselling.html">For Adults</a></li>
                <li><a href="/counselling.html#child">For Children</a></li>
            </div>
            <li><a href="/hypnotherapy.html">Hypnotherapy</a></li>
            <li><a href="/workshops.html">Workshops</a></li>
            <div class="hidden-sub-mobile">
                <li><a href="/relaxation.html">Relaxation</a></li>
                <li><a href="/workshops.html">Workshops</a></li>
            </div>
            <li><a href="/shop.html">Shop/Free Stuff</a></li>
            <li><a href="/prices.html">Contact/Prices</a></li>
            <li><a href="/gdpr.html">Data Protection</a></li>
            <li><a href="/blog.html">Blogs</a></li>
        </ul>
    </nav>
