<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bluebell Therapy Counselling & Hypnotherapy in Beeston, Nottingham | Blog - {{title}}</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

    <main id='blogs'>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
			<h2>{{title}}</h2>
        </div>

		<div class="row">
            <div class="column">
            	<div class="inner-column">
					{{{content}}}
				</div>
			</div>
		</div>

         {{>contact}}

{{>memberof}}

    </main>

{{>footer}}

{{>scripts}}

</body>
</html>
