<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

{{>header}}

{{>nav}}

  <main id="counselling">
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Counselling</h2>
        </div>
        <div id="adult" class="row">
            <div class="column">
                <div class="inner-column">
                    <div class="text-center">
                        <h3>How can counselling help you?</h3>
                        <h4>Talking things through with a trained counsellor can really help you to:</h4>
                        <ul>
                            <li>explore your thoughts and feelings and gain some clarity</li>
                            <li>have a greater awareness about aspects of your life which may be challenging</li>
                            <li>develop more effective coping strategies</li>
                            <li>manage your emotions and relationships and create positive change in your life</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column text-center">
                <h4>Counselling can help with various issues, including:</h4>
                <ul>
                    <li>low mood or depression</li>
                    <li>anxiety</li>
                    <li>stress caused by work or study</li>
                    <li>lack of confidence</li>
                    <li>relationship difficulties</li>
                    <li>low self esteem </li>
                    <li>bereavement and loss</li>
                    <li>anger management</li>
                    <li>coping with illness</li>
                    <li>caring for others</li>
                    <li>loneliness</li>
                </ul>
            </div>
        </div>
        <div id="child" class="row">
            <div class="column text-center">
                <div class="inner-column">
                    <h2>Counselling for children and young people</h2>
                    <p>One of my particular interests is working with children and young people. I have many years’ experience
                        working with children in education as a primary school teacher prior to becoming a therapist and
                        now offer children’s workshops as well as one-to-one counselling. I also have experience of
                        working as a school counsellor and currently have links with a local secondary school, providing mental health support.</p>
                    <p>Surveys suggest that more children and young people have problems with their mental health today than
                        30 years ago. Issues may include depression, anxiety and conduct disorder, and are often a direct
                        response to what is happening in their lives. The emotional well-being of children is just as important
                        as their physical health. Good mental health allows children and young people to develop the resilience
                        to cope with whatever life throws at them and grow into well-rounded, healthy adults.</p>
                    <p>Teenagers in particular often experience emotional turmoil as their minds and bodies develop. An important
                        part of growing up is working out and accepting who you are. Some young people find it hard to make
                        this transition to adulthood and may experiment with alcohol, drugs or other substances that can
                        affect mental health.
                    </p>
                    <p>Children in this age group also often feel that they have no one to talk to and seeing a counsellor can
                        provide a vital lifeline for them. Counselling for children can provide much needed support, as well
                        as helping with practical strategies to cope with problems including anxiety, depression, anger management,
                        self harming behaviours and many other issues that young people may be struggling with.</p>
                    <h3>How Parents can help:</h3>
                    <p>If you have a good open relationship with your children, the chances are that they will feel able to
                        tell you when they are troubled. Often, simply listening, taking your child’s worries seriously and
                        providing a hug is all that is needed.</p>
                    <p>Sometimes, however, children find it difficult to talk to their parents, however loving and supportive
                        they may be and it’s a good idea to seek outside help if their distress is lasting longer than you
                        might expect, is disrupting family life or is having an impact on their relationships or schoolwork.</p>
                    <p><strong>There are lots of places to get help – schools can advise, for example, and, in some cases, can refer your child to the Child and Adolescent Mental Health Service (CAMHS). If you prefer a private counsellor, however, I would be happy to help. I offer counselling sessions either at my usual consulting rooms or am happy to come to your home or arrange to see your child at their school. If you would like to discuss your child’s mental health needs with me, please call or email me on the contact form. </strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column column-alt-blue">
                <div class="text-center column-alt-padding contact-me">
                    <div class="inner-column">
                        <h3>Contact Me</h3>
                        <p>If you would like a chat about how therapy can help you:</p>
                        <p>Call <strong><a href="tel:07599136677">07599136677</a></strong> or email <strong><a href="mailto:bluebelltherapy@gmail.com">bluebelltherapy@gmail.com</a></strong></p>
                    </div>
                </div>
            </div>
        </div>

    </main>

{{>footer}}

{{>scripts}}

</body>
</html>