<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bluebell Therapy Counselling & Hypnotherapy in Beeston, Nottingham | Alternative Arrangements</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

    <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Online/Telephone/Email Arrangements </h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="inner-column">
                    <div>
                        <p><strong>There are various forms of counselling which can be used as an alternative to face to face sessions.
						 Please be assured that all of these are run in a professional and confidential manner. 
						 I’m happy to talk through any queries you may have about any of the alternatives that I will now be offering. 
						 New clients will be sent my contract/agreement by email before we start therapy. 
						 Any information or sheets that will be used during our work together will 
						 also be emailed as therapy progresses.</strong></p>
                        <p><strong>Online Counselling: </strong>On-line counselling will be facilitated by Zoom. 
						This platform is GDPR compliant and has end-to-end encryption. As such, it is completely secure and confidential. </p>
						<p>Zoom is very simple to use. If you decide  to use on-line counselling, I will send you an invitation by email. 
						You will then be able to follow a link to create your own Zoom account. 
						We will arrange our session as usual and you will need to log into your account at the start time. 
						I will invite to a ‘meeting’ and you will simply need to click to join in, 
						making sure you have also clicked ‘video’ and ‘audio’ so that we can see and hear other.</p>
						<p>An alternative way to connect is for me to start a meeting then text you with my ID. You can then join the meeting.<p>
						<p>If you would like to, we can arrange a time to briefly go through this procedure together on-line before our first proper session.</p>
                        
						<p><strong>Telephone Counselling: </strong>Before starting telephone counselling, we will makes arrangements which are mutually agreeable (who calls who, for example).</p>
						
						<p><strong>Email Counselling or instant messaging by Skype: </strong>If you prefer this type of contact, it can be arranged, again by mutual agreement. Please ask and we can have a chat about what would suit you best.</p>

						<p><strong>Missed Appointments for online sessions(including late cancellations and non-attendance) are subject to the usual terms and conditions.</strong></p>
						
						<p><strong>Prices for Sessions: </strong>On-line/telephone/email or messaging counselling sessions are for 60 minutes, in line with face to face therapy. As the time commitment remains the same, the same fee of £50/session applies. This is payable by bank transfer, before the session commences.</p>

						<p>I am also offering 30 min sessions (£25) or 15 min ‘check in’ sessions (£10).</p>

						<p><strong>* If you are currently working as a key worker, please know that you are hugely appreciated, and concessions may be available. Please ask. * </strong></p>

                    </div>
                </div>
            </div>
        </div>

        {{>contact}}

{{>memberof}}

    </main>

{{>footer}}

{{>scripts}}

</body>
</html>
