<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bluebell Therapy | Data Protection Policy</title>

{{>head}}

<body>

{{>header}}

{{>nav}}

  <main id="counselling">
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Data Protection Policy</h2>
            <h5>Last updated: May 2018</h5>
        </div>
        <div class="row">
            <div class="column">
            <div class="inner-column">
            <h2>The Principles of this policy</h2>
            <p>Bluebell Therapy shall:</p>
            <ol>
            <li>Hold an ICO registration as a lawful holder of client data.</li>
            <li>Obtain only appropriately relevant information with regards to the purpose of personal therapy.</li>
            <li>Keep personal data accurate and up to date.</li>
            <li>Hold information for the time specified by the National Counselling Society and the National Hypnotherapy Society and no longer. This amounts to 7 years for both societies, after which any information is removed and securely destroyed.</li>
            <li>Take appropriate measures to ensure the security of that data.</li>
            <li>Ensure that checks are made as to the GDPR compliance of electronic areas where client data is stored.</li>
            </ol>
               <h2>What is Data protection?</h2>
               <p>The data Protection Act aims to protect an individual’s rights and freedom to privacy, in respect of personal data processing.</p>
               <p>It applies to paper and electronic records containing personal information relating to living individuals who can be identified from the data.</p>
               <p>Individuals have the right to gain access to their own data; they are entitled to make a subject access request in order to do this. This implies access to:</p>
               <ul>
               <li>A description of their personal data</li>
               <li>The purposes for which it is being processed</li>
               <li>Details of whom this information may be disclosed to and in what circumstances</li>
               </ul>
               <p>Individuals are also entitled to opt out of direct marketing.</p>
               <p>Bluebell Therapy has a mailing list, for example, which clients are expressly invited to join by an ‘opting in’ system (see later).</p>
               <h2>ICO Registration</h2>
               <p>Bluebell Therapy holds a valid ICO registration certificate, registration reference ZA317878.</p>
               <h2>Data Classes</h2>
               <p>Data classes refers to the type of data which is being held about clients. Bluebell Therapy holds the following type of details:</p>
               <ul>
                    <li>Personal details – name, email address, phone numbers</li>
                    <li>Some limited medical information (disclosure of serious health conditions and medication)</li>
                    <li>Doctor’s name and address</li>
                    <li>Client notes</li>
                    <li>Hypnotherapy scripts, which are anonymised</li>
               </ul>

               <h2>Areas in which hard copy data is stored</h2>
               <p>Client details are collected by means of a client questionnaire and contract, to be signed by both Judith Mason and the client – with a scanned copy provided so that both parties have access to the terms of engagement.</p>
               <p>Both the contract, questionnaire and any notes shall be kept in a securely locked filing cabinet, accessed only the sole key-holder, Judith Mason.</p>
               <h2>Areas in which electronic data is stored</h2>
               <ul>
                    <li>GoogleDrive</li>
                    <li>Dropbox (copies of personalised hypnotherapy recordings only)</li>
                    <li>PayPal</li>
                    <li>Payhip (via downloads of generic recordings, emails captured)</li>
                    <li>Gmail</li>
                    <li>Occasionally clients contact Bluebell Therapy via business facebook page – all details are deleted immediately from this after reading.</li>
                    <li>Mobile phone (current client phone numbers may be occasionally stored. These are removed once therapy is terminated)</li>
               </ul>

               <p>In addition:</p>
               <ul>
                    <li>Website – clients can message directly from this but no email addresses are retained.</li>
                    <li>Blog – comments can be left, leaving an email trace.  None of these email addresses are retained.</li>
               </ul>

               <p>All electronic areas where client information is collected/stored are GDPR compliant or are currently preparing for compliance.</p>

                <h2>Bluebell Therapy Mailing List</h2>
                <h3>Since March 2018 : </h3>
                <ul>
                    <li>Clients are specifically asked via the contracting process whether or not they would like to join a mailing list. This is an ‘opt in’ process, whereby clients have to tick a box to join. </li>
                    <li>Email addresses captured via the downloading of a free recording or recordings purchased via the website, are asked specifically via email whether they would like to join a mailing list.  Again, the process is one of opting in.  If they prefer not to opt in, their email details are not retained. </li>
                </ul>
                <h3>Historic mailing list data:</h3>
                <ul>
                    <li>In March 2018, all existing participants on the current mailing list were contacted and asked to express a wish to opt in in order to remain on the list and a record kept of all ‘yes’ respondents. </li>
                    <li>Clients can unsubscribe at any time.</li>
                </ul>
                <h3>Security arrangements</h3>
                <ul>
                    <li>Hard copy data: Data is kept in a securely locked filing cabinet, accessed only by Judith  Mason, the sole key holder.</li>
                    <li>Electronic data:  No data is retained on the hard drive; Client notes, resources used etc are all kept on GoogleDrive, Business laptop is password protected  and stored in a locked filing cabinet whilst not in use.</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="column">

            </div>
        </div>

    </main>

{{>footer}}

{{>scripts}}

</body>
</html>