<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bluebell Therapy | Hypnotherapy</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

   <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Hypnotherapy</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="inner-column">
                    <div class="text-center">
                        <h3>What is hypnotherapy?</h3>
                        <p>Hypnotherapy is a powerful tool which ultilises positive suggestion to bring about changes to our
                            thoughts, feelings and behaviour. Our subconscious is where our habits, behaviours and emotions
                            are rooted - although we may feel that we are acting in a totally logical way, our past experiences
                            and familar frames of references influence every aspect of our lives, which is why change on
                            a conscious level can sometimes be difficult or challenging.</p>
                        <p>The therapeutic process aims to alter our state of consciousness in a way that relaxes the conscious
                            part of the mind whilst simultaneously stimulating and focusing the subconscious part. This heightened
                            state of awareness allows the therapist to then make positive, often life-changing suggestions.
                            In a hypnotherapy session, you will have the opportunity to talk through your issues at length
                            and will be in control at all times. </p>
                        <h4>Hypnotherapy is a recognised therapy that can help with many physical and emotional issues, including:</h4>
                        <ul>
                            <li>Stopping smoking</li>
                            <li>Weight management</li>
                            <li>Stress and anxiety</li>
                            <li>IBS</li>
                            <li>Phobias</li>
                            <li>Addiction and habit disorders</li>
                            <li>Confidence and self esteem</li>
                            <li>Obsessive compulsive disorders</li>
                            <li>Sexual problems</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column text-center">
                <div class="inner-column">
                    <p>Many people use hypnotherapy for weight loss and smoking cessation. Hypnosis for weight loss, for example,
                        is proven to be more effective than dieting because it aims to alter a person’s perception of food
                        and eating rather than simply limiting calorie intake for a temporary period of time. It is also
                        proven to be three times more effective, when giving up smoking, than the use of nicotine patches
                        alone.
                    </p>
                </div>
            </div>
        </div>

         {{>contact}}
         
    </main>
    
{{>footer}}

{{>scripts}}

</body>
</html>