<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bluebell Therapy | Home</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

    <main>
        <div class="hero text-center">
            <h1>Bluebell Therapy</h1>
            <h5>Judith Mason</h5>
            <p>
                A Nottingham based caring and confidential Counselling and Hypnotherapy service.
            </p>
            <div class="hero-button">
                <h3>Find out more about</h3>
                <a class="button button-white button-center" href="/hypnotherapy.html">Hypnotherapy</a>
                <a class="button button-white button-center" href="/counselling.html">Counselling</a>
                <a class="button button-white button-center" href="/workshops.html">Workshops</a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="inner-column">
                    <div class="text-center">
                        <div class="image-container">
                            <img src="../img/judith.jpg" alt="clouds">
                        </div>
                        <h2>About me</h2>
                        <p>Hi, I’m Judith Mason and I run Bluebell Therapy, offering <a href="/counselling.html">counselling</a> and <a href="/hypnotherapy.html">hypnotherapy</a>. My practice
                            room is in Beeston, where I live with my family and a couple of well-behaved pets. I trained
                            to be a therapist several year ago, after 20 years’ experience as a teacher. In both my careers,
                            I have been motivated by wanting to help and support people to reach their personal potential.
                            I still love working with young people and now offer therapy to clients of all ages. I also teach
                            trainee therapists for Chrysalis Courses, have experience as a secondary school counsellor and
                            offer mental health <a href="/workshops.html">workshops</a>.</p>
                        <p>I’m really passionate about the benefits of counselling and hypnotherapy – they are fantastic tools
                            for change and personal growth. I work with all sorts of issues but have a particular interest
                            in anxiety disorders and phobias. Anxiety isn’t a life sentence … therapy can really help. </p>
                        <p>My qualifications and training:</p>
                        <ul>
                            <li>Diploma in Hypnotherapy and Counselling (Distinction)</li>
                            <li>Advanced Diploma In Psychotherapeutic Counselling</li>
                            <li>Professional Diploma in Integrative Counselling</li>
                            <li>Professional accredited member of the <a href="https://www.nationalhypnotherapysociety.org/" target="_blank">National Hypnotherapy Society</a> and <a href="https://www.nationalcounsellingsociety.org/" target="_blank">National Counselling
                                Society</a>
                            </li>
                            <li>PGCE in Primary Teaching</li>
                            <li>Additional training in various areas, including Self-harming behaviour, Suicide Awareness, Anxiety
                                disorders, Depression.</li>
                            <li>Up to date DBS check.</li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column column-alt-blue">
                <div class="text-center column-alt-padding contact-me">
                    <div class="inner-column">
                        <h3>Contact Me</h3>
                        <p>If you would like a chat about how therapy can help you:</p>
                        <p>Call <strong><a href="tel:07599136677">07599136677</a></strong> or email <strong><a href="mailto:bluebelltherapy@gmail.com">bluebelltherapy@gmail.com</a></strong></p>
                    </div>
                </div>
            </div>
        </div>

    </main>

{{>footer}}

{{>scripts}}

</body>
</html>