<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bluebell Therapy | Prices and Contact Us</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

       <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Contact & Prices</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="inner-column">
                    <div class="text-center">
                        <h2>Contact Me</h2>
                        <p>To talk about therapy or to book an appointment:</p>
                        <p>Call 07599 136677 or email: bluebelltherapy@gmail.com</p>
                        <h3>Counselling</h3>
                        <ul>
                            <li>£50 per 1:1 counselling session</li>
                            <li>Telephone or email counselling - prices on request</li>
                        </ul>

                        <h3>Hypnotherapy:</h3>
                        <ul>
                            <li>£60 per 1:1 hypnotherapy session</li>
                            <li>Stop smoking therapy: £140 (this includes a Stop Smoking session, plus a complementary follow-up
                                session)
                            </li>
                            <li>Weight loss course of three sessions for £150. (Small group sessions on request – please get
                                in touch)</li>
                            <li>Hypnosis for Childbirth Package: £297 – includes 5 sessions of ‘hypnosis for childbirth’ plus
                                a voucher for a pregnancy massage by remedial massage therapist, Julia Church. Julie runs
                                the fabulous Tonic Therapy and is an expert in pregnancy and post-natal massage.
                                <a href="http://www.tonictherapy.co.uk" target="blank">www.tonictherapy.co.uk</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

         {{>contact}}
         
    </main>

{{>footer}}

{{>scripts}}

</body>
</html>