<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

{{>header}}

{{>nav}}

     <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Hypno-Relaxation</h2>
        </div>
        <div class="row">
            <div class="column text-center">
                <ul>
                    <li>Is anxiety and worry preventing you from enjoying life as much as you deserve to?</li>
                    <li>Do you often feel that everyone is making demands on you ... and your needs are always secondary?</li>
                </ul>
                <p>If this sounds familiar, then perhaps you need to learn some Relaxation skills. And, as you probably already
                    know that's easier said than done because relaxing is not as simple as it sounds.</p>
                <p>Hypnotherapy is a great way to relax because it allows you to access your sub-conscious mind, guiding you
                    away from the troubles of everyday life and into a place of tranquility and peace. During this process,
                    therapeutic suggestions are used to encourage changes in attitude and behaviour or the relief of stress-related
                    symptoms.
                </p>
                <p>At Bluebell Therapy we understand the importance of relaxation and stress management, running regular Relaxation
                    Courses for small groups of up to 6 people in a warm welcoming, candle lit studio in Beeston.</p>
                <p>Each 4 week course costs £50 and includes a complementary hypnotherapy CD for you to continue the good work
                    at home! You will also learn how to use self-hypnosis as a self-management technique.</p>
                <p>For details of future Hypno-Relaxation Courses, please see our facebook page:</p>
                <p><a href="" target="_blank">www.facebook.com/bluebelltherapy</a> or send me an email.</p>
            </div>
        </div>
        <div class="row">
            <div class="column column-alt-blue">
                <div class="text-center column-alt-padding contact-me">
                    <div class="inner-column">
                        <h3>Contact Me</h3>
                        <p>If you would like a chat about how therapy can help you:</p>
                        <p>Call <strong><a href="tel:07599136677">07599136677</a></strong> or email <strong><a href="mailto:bluebelltherapy@gmail.com">bluebelltherapy@gmail.com</a></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{{>footer}}

{{>scripts}}

</body>
</html>