<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

{{>header}}

{{>nav}}

      <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Purchases and Free Gifts</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="inner-column">
                    <div class="text-center">
                        <div class="image-container">
                            <img src="../img/hypnosis.jpg" alt="clouds">
                        </div>
                        <h3>Buy something here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt maxime, error sunt. Modi eveniet fugit mollitia pariatur voluptas ex assumenda sed veniam, esse facilis sit magni libero, repellendus corporis natus!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- accordion-->
            <div class="column">
                <div class="container">
                    <div class="carousel">
                        <div class="item a">
                            <a target="_blank" data-key="TkeX" href="https://payhip.com/b/TkeX" data-unique-btn-id="12">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aop2vmhf6v01uqk2431c56uulm.jpg" class="payhip-cover-img">
                            </a>
                            <!--<a target="_blank" data-key="tj7W" href="https://payhip.com/b/tj7W" data-unique-btn-id="22">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aoos1bjt15ca1sgl1dr0d01l5jo.jpg" class="payhip-cover-img">
                            </a>-->
                        </div>
                        <div class="item b">
                            <a target="_blank" data-key="S1Lh" href="https://payhip.com/b/S1Lh" data-unique-btn-id="13">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aop3c2n1o061eud10g5pfm1uu4m.jpg" class="payhip-cover-img">
                            </a>
                            <!--<a target="_blank" data-key="afK0" href="https://payhip.com/b/afK0" data-unique-btn-id="16">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aoosisq21u5gmqu88tmda1h42m.jpg" class="payhip-cover-img">
                            </a>-->
                        </div>
                        <div class="item c">
                            <a target="_blank" data-key="4C9a" href="https://payhip.com/b/4C9a" data-unique-btn-id="14">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aq71tc4v71891e1m1hb618bvm.jpg" class="payhip-cover-img">
                            </a>
                            <!--<a target="_blank" data-key="TM0S" href="https://payhip.com/b/TM0S" data-unique-btn-id="17">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aoot2pi21bir1d3f14tpd7dm1im.jpg" class="payhip-cover-img">
                            </a>-->
                        </div>
                        <div class="item d">
                            <a target="_blank" data-key="aTsA" href="https://payhip.com/b/aTsA" data-unique-btn-id="9">
                                <img src="https://pe56d.s3.amazonaws.com/o_1at98o8cf1i5s7pai2619p3o47o.jpg" class="payhip-cover-img">
                            </a>
                        </div>
                        <div class="item e">
                            <a target="_blank" data-key="cRj8" href="https://payhip.com/b/cRj8" data-unique-btn-id="10">
                                <img src="https://pe56d.s3.amazonaws.com/o_1atbu77jq6ud1fp71e46192d17lhh.jpg" class="payhip-cover-img">
                            </a>
                        </div>
                        <div class="item f">
                            <a target="_blank" data-key="3Ql2" href="https://payhip.com/b/3Ql2" data-unique-btn-id="11">
                                <img src="https://pe56d.s3.amazonaws.com/o_1aootfhgvpve1tf92clcsdt2im.jpg" class="payhip-cover-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="next">Next</div>
                <div class="prev">Prev</div>
            </div>
        </div>
     </main>

{{>footer}}

{{>scripts}}

</body>
</html>