<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bluebell Therapy Counselling & Hypnotherapy in Beeston, Nottingham | Supervision</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

   <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Clinical Supervision for Counselling Professionals</h2>
        </div>
        <div class="row">
            <div class="inner-column">
                <div class="column text-center">
                    <p>I have a Level 7 qualification in Clinical Supervision, which I gained from the Manchester Institute of Psychotherapy, and offer clinical
                    supervision for both qualified and trainee counsellors and psychotherapists.</p>
                    <p>My supervisory style is supportive - clinical supervision requires effective collaboration between two professionals, and teamwork and a good working relationship are essential for that.
                    I use the Seven-Eyed Supervison Model to guide my work and am happy to have a free initial discussion with any prospective new supervisees, as I think that it is important that therapists
                    find the right person to work with.</p>
                    <p>I enjoy working with students as well as qualified therapists and offer concessions for this group, as I acknowledge that they
                    are offering their therapeutic services voluntarily when working in a placement setting.</p> 
                    <p>Please see the <a href="/prices.html">contact/prices page</a> for details of fees and student concessions.
                </div>
            </div>
        </div>
    </main>

{{>footer}}

{{>scripts}}

</body>
</html>
