<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

{{>header}}

{{>nav}}

   <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Workshops</h2>
        </div>
        <div class="row">
            <div class="column text-center">
                <div>
                   <a href="http://www.salus-training.co.uk" target="_blank"><img class="salus-img" src="../img/salus.png" alt="salus training"></a>
                </div>
                <p>I also work closely with a colleague, Kirsty Knight.  Together we make up Salus Training, offering workshops for adults and children on a variety of mental health issues.</p>
                <p>Previous workshops have included:</p>
                <ul>
                    <li>‘Beat Your Anxiety’ workshops for adults</li>
                    <li>Anxiety workshops for children</li>
                    <li>Sessions for parents to support their children</li>
                    <li>Calming, Sensory workshops</li>
                </ul>
                <p>We also offer bespoke sessions for schools, aimed at young people and educational professionals, as well as workshops for companies to support their employees.</p>
                <p>Please take a look at our facebook page to see our current events and workshops:</p>
                <p><a href="" target="_blank">www.facebook.com/saluscourses</a></p>
                <p>or email us at <a href="mailto:jandk.salus@gmail.com">jandk.salus@gmail.com</a> to discuss your bespoke requirements.</p>
            </div>
        </div>
        <!--<div class="row">
                <div class="column column-50">
                    <div class="testimonials">
                        <div class="your-class">
                            <div>
                                <blockquote>Lorem Ipsum blah Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                </blockquote>
                                <p>Paul Mason, Nottingham</p>
                            </div>
                            <div>
                                <blockquote>Lorem Ipsum blah Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                </blockquote>
                                <p>Paul Mason, Nottingham</p>
                            </div>
                            <div>
                                <blockquote>Lorem Ipsum blah Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                </blockquote>
                                <p>Paul Mason, Nottingham</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    </main>

{{>footer}}

{{>scripts}}

</body>
</html>