<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bluebell Therapy | Workshops</title>
{{>head}}

<body>

{{>header}}

{{>nav}}

   <main>
        <div class="hero-not-main text-center">
            <h1>Bluebell Therapy</h1>
            <h2>Workshops</h2>
        </div>
        <div class="row">
            <div class="column text-center">
                <div>
                   <a href="http://www.salus-training.co.uk" target="_blank"><img class="salus-img" src="../img/salus.png" alt="salus training"></a>
                </div>
                <p>I also work closely with a colleague, Kirsty Knight.  Together we make up Salus Training, offering workshops for adults and children on a variety of mental health issues.</p>
                <p>Previous workshops have included:</p>
                <ul>
                    <li>‘Beat Your Anxiety’ workshops for adults</li>
                    <li>Anxiety workshops for children</li>
                    <li>Sessions for parents to support their children</li>
                    <li>Calming, Sensory workshops</li>
                </ul>
                <p>We also offer bespoke sessions for schools, aimed at young people and educational professionals, as well as workshops for companies to support their employees.</p>
                <p>Please take a look at our facebook page to see our current events and workshops:</p>
                <p><a href="" target="_blank">www.facebook.com/saluscourses</a></p>
                <p>or email us at <a href="mailto:jandk.salus@gmail.com">jandk.salus@gmail.com</a> to discuss your bespoke requirements.</p>
            </div>
        </div>
    </main>

{{>footer}}

{{>scripts}}

</body>
</html>